{% extends 'index.html' %}
{% load static %}
{% block titulo %}Book py | Listado de Autores {% endblock titulo %}
{% block body %}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
        <form id="form_creacion" action="" method="POST" class="form-horizontal">
            {% csrf_token %}
            <div class="modal-body">
                {{ form.as_p }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="reset">Cancelar</button>
                <button id="boton_creacion" class="btn btn-primary" type="submit">Confirmar</button>
            </div>
          
        </form>
    </div>
</div>
{% endblock body %}