{% extends 'index.html' %}
{% load static %}
{% block titulo %}Book py | Listado de Libros {% endblock titulo %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}">{% endblock extra_css %}

{% block body %}

</div>
<div class="col-md-4">
  <button type="button" class="btn btn-primary" onclick="abrir_modal_creacion('{% url 'libro:crear_libro' %}');"> REGISTRAR LIBRO</button>
</div>
</div>

{% if libros %}
<div class="card">
    <div class="card-header">

    <div class="row">
      <div class="col-md-8">
        <strong class="card-title">Listado de libros</strong>

  </div>
  <div class="table-stats order-table ov-h">
    <table id="tabla_autores" class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Titula</th>
          <th>Autor</th>
          <th>Fecha de publicacion</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for libro  in libros  %}
        <tr>
            <td>{{libro.id}}</td>
            <td>{{libro.titulo}}</td>
            <td>
                {% comment %} este es para listar atributos muchos a muchos {% endcomment %}
                {% for i in libro.autor.all  %}
                {{i.nombre}},
                {% endfor %}
            </td>
            <td>{{libro.fecha_publicacion}}</td>
            <td>
            
              <button type="button" class="btn btn-primary" onclick="abrir_modal_edicion('{% url 'libro:editar_libro' libro.id %}');">Editar</button>
               
                <a href="{% url 'libro:eliminar_libro' libro.id %}" class="btn btn-danger">Eliminar</a>
            </td>
          </tr>
        {% endfor %}
       
      </tbody>
    </table>
  </div>
</div>
{% else %}

no hay libros disponibles

    
{% endif %}


<div class="modal fade" id="creacion" role="dialog">

</div>


<div class="modal fade" id="edicion" role="dialog">

</div>
<div class="modal fade" id="eliminacion" role="dialog">

</div>


{% endblock body %}
{% block extrajs %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'js/libro/autor.js' %}"></script>

{% comment %} esta parte la pusimos en el main.js para hacelo general {% endcomment %}
{% comment %} <script type="text/javascript">
  //var $ = jQuery.noConflict();  //esta variable la pondremos global en el archivo main para que no de error en ningun otra archivo
  function abrir_modal_edicion(url){
    $('#edicion').load(url,function(){
      $(this).modal('show');
    });
  }

  function abrir_modal_creacion(url){
    $('#creacion').load(url,function(){
      $(this).modal('show');
    });
  }

</script> {% endcomment %}

{% endblock extrajs %}